body {
  display: flex;
  justify-content: center;
  height: 100vh;
  margin-top:5rem;
}
.login-container {
  max-width: 400px;
  width: 100%;
  padding: 15px;
}
.form-control-icon {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}
.form-control {
  padding-left: 2.375rem;
}
.input-group-append .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.connection-row {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.connection-row label {
  margin-right: 10px;
  margin-bottom: 0;
}
.connection-row select {
flex-grow: 1;
width: auto;
}

/* Media queries para responsividad */
@media (max-width: 480px) {
  body {
    margin-top:0.5rem;
  }
}