
/*Fijar encabezado de tabla*/ 

thead tr th { 
    position: sticky;
    top: 0;
    z-index: 10;
}

.table .thead-dark th {
    color: white;
    background-color: #343a40;
}

.table-responsive { 
    height:560px;
    width: 1300px;
    margin-left: 3.5%;
    margin-top: 1%;
    font-size: small;
}

#totalClientes
{
    position: absolute;
    margin-left: 25%;
    margin-top: -0.2%;
}

#totalArticulos
{
    position: absolute;
    margin-left: 37%;
    margin-top: -0.2%;
}

#totalImporte
{
    position: absolute;
    margin-left: 49%;
    margin-top: -0.2%;
}

#contvendedor
{
    position: absolute;
    margin-left: 5%;
}

#btn_filtro
{
    position: absolute;
    margin-left:17.5%;
    margin-top: 1.6%;
}

#btn_save
{
    position: absolute;
    margin-left:25%;
    margin-top: 1.6%;
}

#btn_back
{
    position: absolute;
    margin-top: 18%;
    margin-left: 50%;
}

#busqRapida
{
    margin-top: -0.28%;
    margin-left: 58%;
    width: 17%;
}

#busqRapida2
{
    margin-top: 0%;
    margin-left: 25%;
    width: 17%;
}

.total
{
    height: calc(1.5em + 0.5rem + 2px);
    padding: 0.25rem 0.5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
    width: 70%;
}

h3{
    margin-top: 1%;
    margin-left: 4%;
}

.semaforo
{
    font-size: 22px;
    margin-left: 0.3%;
    margin-top: 0.5%;
}

