body
{
    max-width: max-content;
    overflow-y: hidden;
}

#tableIndex
{
    margin-top: 2%;
}

.table {
    width: 98%;
    margin-left: 2%;
}

h3{
    margin-left: 3%;
    margin-top: 2%;
}

thead tr th { 
    position: sticky;
    top: 0;
    z-index: 10;
}

.table-responsive { 
    height:630px;
    max-width: 1150px;
}

#tblItems { 
    width: 700px;
}

.w3-half
{
    margin-left: 7%;
    margin-top: 5%;
}

.table .thead-dark th {
    color: white;
    background-color: #343a40;
}

#busqRapida
{
    margin-left: 1rem;
}

#btn_edit
{
    position: relative;
    margin-left: 3rem;
    color: white;
}

.selectAll{
    margin-left: 1rem;
}

.checkAll{
    margin-top: 2.5rem;
    margin-left: 0.5rem;
    font-size: larger;
}

button{
    margin-left: 0.5rem;
    margin-top: 1.8rem;
}
