
body
{  
    overflow-x: none;
    margin:0;
}

.btn-danger{
    margin-left: 27%;
}

.thead-dark{ 
    position: sticky;
    top: 0;
    z-index: 10;
}

.thead-dark{
    color: white;
    background-color: #343a40;
}

#bodyControl{
    width: 70rem;
}

.container { 
    height:36rem;
    /* width: 15rem; */
}

#tablaControl{
    margin: auto;
    width: 60%;
}

th, td
{
    /* font-size: 0.66em; */
    font-size: 0.9em;
    text-align: center;
}

#titleDif
{
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 3rem;
}

@media only screen and (max-width: 1281px) {

    body {
      width: 22rem;
      height: 50rem;
    }
  
    th, td
    {
        font-size: 0.55em;
        text-align: center;
    }

    .container 
    { 
        margin: 0 auto;
        height:70vh;
        width: 95vw;
        padding: 0;
        margin-bottom: 0;
        overflow-x: hidden;
    }

    .tableDetalle
    {
        height: 70vh;
       /*  background: red; */
    }

    #titleDif
    {
        margin-top: 0.8rem;
        font-size: 0.8rem;
        font-weight: bold;
    }

    .thead-dark
    { 
        position: sticky;
        top: 0;
        z-index: 10;
    }

  }