
body {
    background-color: #f8f9fa;
}
.card {
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}
.form-control, .btn {
    border-radius: 10px;
}
.navbar {
    background-color: #007bff;
    color: white;
}
.input-group-text {
    background-color: transparent;
    border: none;
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
}
.input-group {
    position: relative;
}
.list-group-item{
    font-size:14px;
}
.thead{
    font-size: 13px;
}
#tbodyStockPrecio {
    font-size: 11px;
}
.estado-badge {
    font-size: 0.8em;
    padding: 0.4em 0.4em;
    position: absolute;
    top: 4.4rem;
    right: 1rem;
    z-index: 10;
    background-color: #dc3545;
}

