
/*Fijar encabezado de tabla*/ 
body
{
    overflow: hidden;
}
.thead-dark{ 
    position: sticky;
    top: 0;
    z-index: 10;
}

.table .thead-dark th {
    color: white;
    background-color: #343a40;
}

.table-responsive { 
    height:75vh;
    max-width: fit-content;
    margin-left: 0.5%;
    font-size: small;
}

#estado i
{
    display: flex;
    text-align: right;
    color:#dc3545;
    font-size: 1.5em;
}

#estado1 i
{
    display: flex;
    text-align: right;
    color:#28a745;
    font-size: 1.5em;
}

#estado2 i
{
    display: flex;
    text-align: right;
    color:#007bff;
    font-size: 1.5em;
}

#estado3 i
{
    display: flex;
    text-align: right;
    color:#17a2b8;
    font-size: 1.5em;
}

#condicion i
{
    display: flex;
    text-align: right;
    color:#17a2b8;
    font-size: 1.5em;
}

.form
{
    margin-left: 3%;
}

#contenedorTitle
{
    font-size: small;
}

.contenedor
{
    margin-left: 3%;
}

#busqRapida
{
    margin-top: 0%;
    margin-left: 15%;
}

#contCanal
{
    position: relative;
    margin-left: 1rem;
}

#contCliente
{
    position: relative;
    margin-left: 0.3rem;
}

#contDate
{
    position: relative;
    margin-left: 1rem;
    margin-top: -0.4%;
}

#btn_filtro_2
{
    position: relative;
    margin-left: 0.4rem;
    margin-top: 1.6rem;
}

#busqRapida2{
    position: relative;
    margin-left: 2rem;
}

.total
{
    width: 5rem;
}

#totalPedidos
{
    position: relative;
    margin-left: 0.5rem;
}

#totalArticulos
{
    position: relative;
    margin-left: 0.5rem;
}

#textBox{
    width: 12rem;
}

#btn_filtro
{
    margin-top: 35%;
}

#btn_refresh
{
    position: absolute;
    margin-top: 1.7%;
    margin-left: 15%;
}

#btn_edit
{
    position: absolute;
    margin-top: 1.75%;
    margin-left: 8%;
    width: 110px;
}

#btnActive
{
    position: absolute;
    left: 110%;
    top: -5px;
    width: 105px;
    height: 40px;
}

#contCheck
{
    position: absolute;
    right: 35%;
    top: 30px;
    font-weight: bold;
}

#prioridad
{
    width: 50%;
    text-align: center;
}

#menu
{
    margin-bottom: 10%;
    margin-top: 1%;
}

#tablePedidos
{
    margin-top: 1.5rem;
}

#alert
{
    font-size: 35px;
    position: absolute;
    margin-left: 23%;
    margin-top: 1.7%;
}

.area{
    text-align:center;
    font-size:6.5em;
    color:#dc3545;
    letter-spacing: -7px;
    font-weight:700;
    text-transform:uppercase;
    animation:blur .90s ease-out infinite;
    text-shadow:0px 0px 4px #fff,
        0px 0px 6px #fff;
  }
  
  @keyframes blur{
    from{
        text-shadow:0px 0px 8px #dc3545,
        0px 0px 10px #fff, 
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 30px #fff,
        0px 0px 30px #fff,
        0px 0px 30px #dc3545,
        0px 0px 100px #dc3545,
        0px 10px 50px #dc3545,
        0px 10px 50px #dc3545,
        0px -10px 50px #dc3545,
        0px -10px 50px #dc3545;}
  }
  

@media only screen and (min-width: 300px) and (max-width: 1400px) {

.thead-dark
{ 
    position: sticky;
    top: 0;
    z-index: 10;
}
    
.table .thead-dark th 
{
    color: white;
    background-color: #343a40;
}

#btn_edit
{
    position: absolute;
    margin-top: 1.75%;
    margin-left: 5%;
    width: 110px;
}

#contCheck
{
    position: absolute;
    right: 25%;
    top: 30px;
    font-weight: bold;
}

.table-responsive { 
    font-size: small;
}

/* .table-responsive2 { 
    height:700px;
    width: 85%;
    margin-left: 1%;
    font-size: 11px;
    overflow-y: scroll;
    overflow-x: hidden;
} */

#totalPedidos
{
    position: relative;
    margin-left: 0.5rem;
}

#totalArticulos
{
    position: relative;
    margin-left: 0.5rem;
}

#alert
{
    font-size: 35px;
    position: absolute;
    margin-left: 28%;
    margin-top: 1.7%;
}

    }