
/*Fijar encabezado de tabla*/ 

thead tr th { 
    position: sticky;
    top: 0;
    z-index: 10;
}

.table .thead-dark th {
    color: white;
    background-color: #343a40;
}

.table-responsive { 
    height:560px;
    width: 1200px;
    margin-left: 3.5%;
}

.table-responsive2 { 
    height:560px;
    width: 1500px;
    margin-left: 3.5%;
    font-size: small;
}

.form
{
    margin-left: 3%;
}

#contenedorTitle
{
    margin-left: 2%;
}

.contenedor
{
    margin-left: 3%;
}

#busqRapida
{
    margin-top: 0%;
    margin-left: 15%;
}

#contCanal
{
    position: absolute;
    margin-left: 5%;
}

#contCliente
{
    position: absolute;
    margin-left: 17%;
}

#contDate
{
    position: absolute;
    margin-left: 35%;
    margin-top: -0.4%;
}

#btn_filtro_2
{
    position: absolute;
    margin-left: 58%;
    margin-top: 1.6%;
}

#busqRapida2
{
    margin-top: 0%;
    margin-left: 30%;
    width: 25%;
}

#labelTotal
{
    margin-left: 10%;
}

.total
{
    width: 70%;

}

#totalPedidos
{
    position: absolute;
    margin-left: 70%;
    margin-top: -0.2%;
}

#totalArticulos
{
    position: absolute;
    margin-left: 80%;
    margin-top: -0.2%;
}

#btn_filtro
{
    margin-top: 35%;
}

#btn_refresh
{
    position: absolute;
    margin-top: 1.7%;
    margin-left: 15%;
}

#btnActive
{
    position: absolute;
    left: 110%;
    top: -5px;
    width: 105px;
    height: 40px;
}

#contCheck
{
    position: absolute;
    right: 27%;
    top: 30px;
    font-weight: bold;
}

#prioridad
{
    width: 50%;
    text-align: center;
}

#menu
{
    margin-bottom: 10%;
    margin-top: 1%;
}

#tablePedidos
{
    margin-top: 5%;
}