body{
    overflow-x: hidden;
 }

#iconControlado{
    color: #28a745; 
    font-size: 20px;
}

#iconFacturado{
    color: #6c757d; 
    font-size: 20px;
}

#iconEntregado
{
    color: #007bff;
    font-size: 20px;
}

#iconPrint{
    color: #17a2b8; 
    font-size: 20px;
}

thead{ 
    position: sticky;
    top: 0;
    z-index: 10;
}

.thead-dark{
    color: white;
    background-color: #343a40;
}

.table-responsive{ 
    height:600px;
    width: 1300px;
    margin-left: 3.5%;
    margin-top: 1%;
    font-size: small;
}


.form-row
{
    margin-left: 5rem;
}

.bi-check-circle-fill
{
    font-size: 18px;
}

.bi-check-circle-fill:hover
{
    color: #28a745;
    cursor: pointer;
    font-size: 22px;
}
