

      #config{
        overflow: auto;
        margin-bottom: 10px;
    }
    .config{
        float: left;
        width: 100px;
        height: 250px;
        border: 0.5px;
        margin-left: 10px;
    }
    .config .title{
        font-weight: bold;
        text-align: center;
    }
    .config .barcode2D,
    #miscCanvas{
      display: none;
    }

    #submit{
        font-family: 'Cabin Condensed', sans-serif;
        clear: both;
        color: #007bff;
        background-color: #f8f9fa;
        border-radius: 5px;
        height: 35px;
        width: 150px;
        border-color: #007bff;
        cursor: pointer;
        margin-left: 30px;
        box-shadow:0;
    }

    #submit:hover, #submit:focus {
    color: #fff;
    outline: 0;
    box-shadow: 0 0 20px 20px #007bff inset;
    }
  
    #back{
        color: #fff;
        outline: 0;
        box-shadow: 0 0 20px 20px #007bff inset; 
        margin-left: 30px;
        margin-top: 20px;
        height: 35px;
        width: 80px;
    }
     
    #titulo{
      color: black;
      font-family: 'Cabin Condensed', sans-serif;
      margin-top: 5px;
    }

    #submit2,#submit3{
      font-family: 'Verdana';
        clear: both;
        color: #dc3545;
        background-color: #f8f9fa;
        border-radius: 5px;
        height: 35px;
        width: 150px;
        border-color: #dc3545;
        cursor: pointer;
    }

    #submit3
    {
      color: green;
      border-color: green;
    }
    #submit3:hover
    {
      box-shadow: 0 0 20px 20px green inset;
      color:white;
    }

    #submit2:hover {
    box-shadow: 0 0 20px 20px #dc3545 inset;
    }

    #submit2:hover, #submit:focus {
    color: #fff;
    outline: 0;
    }

    #barcodevalue{
      font-family: 'Verdana';
      font-size: smaller;
/*        background-color:#f8d7da;
      color: #721c24;
      border-color: #f5c6cb; */
      background-color: lightgrey;
      border-radius: 5px;
      height: 40px;
      text-align: center;
    } 
    
    #barcodevalue:hover
    {
      background-color: snow;
    }
    #barcodeTarget,
    #canvasTarget{
      margin-top: 15px;
    }    
    
    #generator{
      width: 100%;
      margin-left: 7px;
      position:fixed;
      background-color: white;
      padding: 2px;
      display: flex;
      justify-content:space-evenly;
    }

    #contenedor_barcode
    {
      /* padding-top:15px; */
      width: 90%;
      display: flex;
      flex-wrap: wrap;
      margin:0 auto;
      margin-top:50px;
      padding-top: 15px;
    }
    
    .eh
    {
      /* padding-top: 15px; */
      margin-bottom: 20px;
      page-break-inside: avoid;
      border-top: dotted 1px;
      border-bottom: dotted 1px;
     /*  border:1px dotted black; */
    }

    .mensaje
    {
      display: none;
      text-align: center;
      color:red;
      position: relative;
      left:50px;
      bottom: -1px;
    }
    .error
{
display: inline-block;
}
    .search_codigo
    {
      display: flex;
      flex-direction: column;
      width: 20vw;
    }

    .row
    {
      display: flex;
      padding-bottom: 500px;
    }

    .selectpicker
    {
      padding: 0;
      margin-top: 0!;
      width: 200px;
      background-color: silver;
    }

    .descripcion
    {
      display: block;
      text-align: center;
      font-weight: 100;
      font-size: 10px;
    }

    .btn-search
    {
      position: absolute;
      width: 230px;
    }

    .deleteTextSearch
    {
      display: inline-block;
      width: 15px;
      text-align: center;
      margin:5px;
      border: 1px solid green;
      font-weight: bold;
      border-radius: 5px;
      position: relative;
      right: 30px;
    }
    .deleteTextSearch:hover{
      color:red;
      border:1px solid red;
    }

.principal
{
 display: flex;
 flex-direction: column;
}
.principal_menu
{
 height: 15vh;
}
.text-secondary
{
text-align: center;
}
